<launch>

  <!-- defines name of the namespace -->
  <arg name="NS_NAME" default="$(optenv NS_NAME uav1)" />

  <arg name="custom_config" default="" />

  <arg name="url" default="127.0.0.1" />
  <arg name="server_port" default="8080" />
  <arg name="client_port" default="8000" />

  <!-- will it run using GNU debugger? -->
  <arg name="DEBUG" default="false" />
  <arg unless="$(arg DEBUG)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg DEBUG)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="standalone" default="true" />
  <arg name="manager" default="$(arg NS_NAME)_iroc_bridge_manager" />
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <group ns="$(arg NS_NAME)">

    <!-- IROCBridge nodelet -->
    <node pkg="nodelet" type="nodelet" name="iroc_bridge" args="$(arg nodelet) iroc_bridge/IROCBridge $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen">

      <param name="config" value="$(find iroc_bridge)/config/config.yaml" />
      <param name="url" value="$(arg url)" />
      <param name="server_port" value="$(arg server_port)" />
      <param name="client_port" value="$(arg client_port)" />

      <param if="$(eval arg('custom_config') == '')" name="custom_config" value="" />
      <param if="$(eval not arg('custom_config') == '' and arg('custom_config')[0] == '/')" name="custom_config" value="$(arg custom_config)" />
      <param if="$(eval not arg('custom_config') == '' and not arg('custom_config')[0] == '/')" name="custom_config" value="$(env PWD)/$(arg custom_config)" />

      <!-- Subscribers (note that the topic names will also be remapped using the namespace as a prefix) -->
      <remap from="~robot_diagnostics_in" to="state_monitor/diagnostics" />
      <remap from="~uav_status_in" to="mrs_uav_status/uav_status" />
      <remap from="~hw_api_gnss_in" to="hw_api/gnss" />

      <remap from="~arm" to="hw_api/arming" />
      <remap from="~offboard" to="hw_api/offboard" />
      <remap from="~land" to="uav_manager/land" />

    </node>

  </group>

</launch>
